.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  color: white;
  font-size: large;
  background-color: black;
  height: 100%;
  width: 100%;
  z-index: 99;
  transition: opacity 3s;
}

.loadingLineOne {
  font-weight: bolder;
}

.loadingLineTwo,
.loadingLineThree {
  font-weight: bold;
}

.loadingSkylinks {
  color: lightblue;
  text-shadow: 2px 2px 2px #19a4ce;
  font-family: "Varela Round", sans-serif;
}

.loadingGif {
  margin: 40px;
}

.outterBar {
  margin: 3px;
  width: 50%;
  background-color: gainsboro;
  border-radius: 40px;
}

.innerBar {
  display: flex;
  justify-content: center;
  background-color: rgb(57, 141, 244);
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

.loadingLogo {
  height: 35px;
  margin-left: 100%;
}

.loadingButton {
  display: flex;
  height: 80px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
.loadingButton .button {
  width: 100%;
  max-width: 240px;
  padding: 8px;
  font-size: 0.8rem;
  font-weight: 900;
  color: #19a4ce;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0 0 0 1px inset rgba(236, 232, 225, 0.3);
  position: relative;
  margin: 10px 0;
}
.loadingButton .button:hover > p {
  color: #ece8e1;
}
.loadingButton .button > p {
  background: #ece8e1;
  color: #0f1923;
}
.loadingButton .button > p span.base {
  border: 1px solid transparent;
}

.loadingButton .button:after,
.loadingButton .button:before {
  content: "";
  width: 1px;
  position: absolute;
  height: 8px;
  background: #0f1923;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.loadingButton .button:before {
  right: 0;
  left: initial;
}
.loadingButton .button p {
  margin: 0;
  height: 54px;
  line-height: 54px;
  box-sizing: border-box;
  z-index: 1;
  left: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.loadingButton .button p span.base {
  box-sizing: border-box;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0;
  border: 1px solid #19a4ce;
}
.loadingButton .button p span.base:before {
  content: "";
  width: 2px;
  height: 2px;
  left: -1px;
  top: -1px;
  background: #0f1923;
  position: absolute;
  transition: 0.3s ease-out all;
}
.loadingButton .button p span.bg {
  left: -5%;
  position: absolute;
  background: #19a4ce;
  width: 0;
  height: 100%;
  z-index: 3;
  transition: 0.3s ease-out all;
  transform: skewX(-10deg);
}
.loadingButton .button p span.text {
  z-index: 4;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.loadingButton .button p span.text:after {
  content: "";
  width: 4px;
  height: 4px;
  right: 0;
  bottom: 0;
  background: #0f1923;
  position: absolute;
  transition: 0.3s ease-out all;
  z-index: 5;
}
.loadingButton .button:hover {
  color: #ece8e1;
}
.loadingButton .button:hover span.bg {
  width: 110%;
}
.loadingButton .button:hover span.text:after {
  background: #ece8e1;
}
