.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  color: white;
  font-size: large;
  background-color: black;
  height: 500px;
  width: 500px;
  z-index: 99;
  transition: opacity 3s;
}

.loadingLineOne {
  font-weight: bolder;
}

.loadingLineTwo,
.loadingLineThree {
  font-weight: bold;
}

.loadingSkylinks {
  color: lightblue;
  text-shadow: 2px 2px 2px #19a4ce;
  font-family: "Varela Round", sans-serif;
}

.loadingGif {
  margin: 10px;
}

.outterBar {
  margin: 3px;
  width: 50%;
  background-color: gainsboro;
  border-radius: 10px;
}

.innerBar {
  display: flex;
  justify-content: center;
  background-color: rgb(57, 141, 244);
  border-radius: 10px;
  transition: all 0.75s ease-in-out;
}

.innerBar > span {
  color: black;
  font-style: italic;
}

.loadingLogo {
  height: 35px;
}
