.searchFormContainer {
  padding: 8px;
  max-width: 320px;
  font-family: "Source Sans Pro", sans-serif;
  background-color: transparent;
  position: absolute;
  right: 2px;
}

.searchInputWrapper input {
  color: white;
  background: transparent;
  width: 200px;
  height: 40px;
  font-size: 16px;
  padding: 6px;
  border-color: white;
  border-width: 1px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.searchInputButtonWrapper {
  border: white;
}

.searchInputWrapper input {
  color: white;
  border: solid 1px white;
  border-right: none;
  outline: none;
  background: transparent;
  width: 210px;
  height: 40px;
  font-size: 16px;
  padding: 6px;
  border-color: white;
  border-width: 1px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.searchButtonWrapper button {
  cursor: pointer;
  color: white;
  outline: none;
  border: none;
  background-color: #1890ff;
  height: 40px;
  font-size: 16px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.searchInputWrapper input:focus {
  border: solid 1px #1890ff;
}

.searchButtonWrapper button:hover {
  background-color: #43a4fe;
}

.searchButtonWrapper button:active {
  background-color: #1890ff;
}
