#containerdiv {
  padding: 8px;
  color: white;

  width: "100%";
  max-width: 320px;
  background-color: lightgray;

  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  background-color: transparent;
  position: absolute;
  right: 2px;
}

#textinput {
  background-color: transparent;
  color: white;
}

.searchbutton {
  right: 160px;
  position: absolute;
  background-color: transparent;
}
